In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [10]:
jurosmedmensal= pd.read_csv('http://api.bcb.gov.br/dados/serie/bcdata.sgs.25433/dados?formato=csv',
                  sep = ';', encoding = 'utf-8', decimal = ',')
txinadimplencia = pd.read_csv  ('http://api.bcb.gov.br/dados/serie/bcdata.sgs.21082/dados?formato=csv',
                                sep = ';', encoding = 'utf-8', decimal = ',')

In [7]:
jurosmedmensal.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>data</th>
      <th>valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>01/03/2011</td>
      <td>2.05</td>
    </tr>
    <tr>
      <th>1</th>
      <td>01/04/2011</td>
      <td>2.09</td>
    </tr>
    <tr>
      <th>2</th>
      <td>01/05/2011</td>
      <td>2.08</td>
    </tr>
    <tr>
      <th>3</th>
      <td>01/06/2011</td>
      <td>2.07</td>
    </tr>
    <tr>
      <th>4</th>
      <td>01/07/2011</td>
      <td>2.08</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
txinadimplencia.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>data</th>
      <th>valor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>01/03/2011</td>
      <td>3.18</td>
    </tr>
    <tr>
      <th>1</th>
      <td>01/04/2011</td>
      <td>3.25</td>
    </tr>
    <tr>
      <th>2</th>
      <td>01/05/2011</td>
      <td>3.37</td>
    </tr>
    <tr>
      <th>3</th>
      <td>01/06/2011</td>
      <td>3.33</td>
    </tr>
    <tr>
      <th>4</th>
      <td>01/07/2011</td>
      <td>3.42</td>
    </tr>
  </tbody>
</table>
</div>